.obras {
  margin-top: 20px;
  position: absolute;
  color: #0039ff;
  font-weight: bold !important;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.linea {
  margin-top: 8px;
  margin-bottom: 20px;
}

.obrasylinea {
  margin-top: 30px;
  position: relative;
  margin-left: 10px;
}
