.all {
  display: flex;
  position: relative;
  width: fit-content;
}

.cards {
  display: flex;
  width: 1180px;
  overflow: hidden;
  height: 350px;
}

.buttonleft {
  position: absolute;
  background: none;
  border: none;
  font-size: 30px;
  color: inherit;
  margin-left: -40px;
  margin-top: 120px;
  cursor: pointer;
}
.buttonright {
  position: absolute;
  background: none;
  border: none;
  font-size: 30px;
  color: inherit;
  right: 0;
  margin-right: -30px;
  margin-top: 120px;
  cursor: pointer;
}
